.Navbar {
    position: relative;
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 12px 24px;
}

.NavLinks {
    position: absolute;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 100px;
}

.Navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.Navbar a:hover {
    color: #0077ff;
}